@font-face {
    font-family: 'drukText';
    src: url('../../font/DrukText-Bold-Trial.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    line-height: 26px;
}

/* .syarat-sewa ol {
    counter-reset: section;
}

.syarat-sewa ol > li {
    counter-increment: section;
} */

.syarat-sewa ul {
    list-style-type: circle;
}

.syarat-sewa li {
    line-height: 1.8; /* Tinggi baris untuk keterbacaan */
    margin-bottom: 10px;
}

.syarat-sewa li a {
    text-decoration: none;
}



.privacy-policy-header{
    background: #000;
    width: 100%;
    height: 230px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.breadcumb-privacy h1 {
    text-decoration: none;
    font-size: 56px;
    font-family: 'drukText', sans-serif;
}

.breadcumb-privacy a {
    color: #535b66;
    text-decoration: none;
    font-size: 12px;
}

.breadcumb-privacy p {
    color: #535b66;
    text-decoration: none;
    font-size: 12px;
}

.card-wrapper{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.product-card{
    background: #fff;
    border-radius: 20px;
}

.product-card img{
    object-fit: cover;
    border-radius: 10px;
}

.product-text {
    padding: 30px 20px 25px 0px;
}

.product-text h4{
    font-size: 18px;
}

.slider-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.slider-carousel .owl-prev, .slider-carousel .owl-next {
    width: 40px;
    height: 40px;
    background: #ffff;
    box-shadow: #18191a 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}


.slider-carousel .owl-next {
    right: -50px;
}

.slider-carousel .owl-prev {
    left: -50px;
}


.section-title {
    font-family: 'Integral CF', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #222; /* Warna teks */
    margin-bottom: 20px; /* Berikan margin bawah */
}
.more-link {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fcb941; /* Warna kuning */
    text-decoration: none;
    margin-left: 16px; /* Tambahkan jarak ke kiri */
    align-self: center; /* Pastikan sejajar dengan heading */
    transition: color 0.3s ease-in-out;
}

.more-link:hover {
    color: #d4a017;
}

.dechome {
    margin-top: 30px;
}

.dechome .row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dechome .col-lg-6 {
    margin-bottom: 1rem;
    max-width: 600px;
}

.dechome .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dechome .text-box h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.dechome .text-box p {
    font-size: 14px;
    color: #555;
}

.dechome .col-lg-6 img {
    width: 65%;
    height: 100%;
    object-fit: cover;
}

.img-custom-size {
    width: 100%;
    max-width: 400px;
    height: 200px !important;
    object-fit: cover;
    border-radius: 8px;
}

.img-custom-size.img-fluid {
    width: 100%;
    max-width: 400px;
    height: 200px !important;
    object-fit: cover;
    border-radius: 8px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 610px;
}

.text-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.horizontal-line {
    margin: 20px 0;
}

.title {
    font-family: 'drukText', sans-serif;
    text-align: start;
    font-size: 2rem;
    color: #18191a;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'drukText', sans-serif;
    text-align: start;
    font-size: 16px;
    color: #18191a;
    margin-bottom: 10px;
}

.divider {
    height: 2px;
    background: #232E52;
    width: 50px;
    margin: 0 auto 20px auto;
    border-radius: 2px;
}

.headline {
    color: #5C5C5C;
    font-size: 1.75rem; /* 28px */
    font-weight: 700;
    line-height: 2.1rem;
    word-wrap: break-word;
}

.description {
    color: #232E52;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.2rem;
    word-wrap: break-word;
}

.image-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 16px;
    flex-wrap: nowrap;
}

.image-card {
    position: relative;
    flex: 1;
    max-width: 400px;
    height: auto;
    aspect-ratio: 3 / 2;
    border-radius: 1rem;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.image-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    z-index: 1;
}

.image-card .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
}

.best-selling h3{
    font-size: 32px;
    font-weight: bold;
    line-height: 14px;
}

.card-box {
    background: #393531;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0.2rem;
}

.card-box img {
    object-fit: cover;
    border-radius: 1rem;
    padding: 1px;
}

.card-text h4 {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 0;
    margin: 0;
}

.margin-custom{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
}

.navbar.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease-in-out;
}


.navbar-brand:hover img {
    transform: rotate(5deg) scale(1.1);
}


.navbar .nav-link {
    position: relative;
    text-decoration: none;
    color: #9BA0A6;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease-in-out;
}

.navbar .nav-link:hover {
    color: #ffff;
}

.navbar .nav-link:hover::after {
    width: 100%;
}


.navbar .nav-link i {
    transition: transform 0.3s ease-in-out;
}

.navbar .nav-link:hover i {
    transform: scale(1.2);
}


a:hover {
    text-decoration: none;
}


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.social-icons a {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.bg-footer-custom {
    background-color: #222830;
}

.bg-black-custom{
    background-color: #18191a;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a:hover {
    color: #f79000;
}

.footer-icon {
    background-color: #1d2229;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 10px;
}

.footer-selling-dec{
    color: #9ba0a6;
    font-size: .8125rem;
}

.carousel-image {
    aspect-ratio: 1192 / 460;
    object-fit: cover;
    border-radius: 1rem;
}

.carousel-inner {
    overflow: hidden;
    border-radius: 1rem;
}

@media(max-width: 1024){

}

@media (max-width: 992px) {

    html {
        font-size: 14px;
    }
    .footer-selling-dec {
        font-size: 0.75rem;
    }
    .card-box{
        background: #393531;
        border-radius: 1rem;
    }

    .card-box img{
        border-radius: 1rem;
        padding: 3px;
    }

    .card-text h4{
        color: #ffff;
        font-weight: bold;
        font-size: 1rem;
        padding: 10px;
    }

    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 100px);
    }

    .headline {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .description {
        font-size: 0.95rem;
        line-height: 1.1rem;
    }

    .img-custom-size {
        height: 180px;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .image-card-container {
        gap: 8px;
    }

    .image-card {
        flex: 1 1 calc(33.333% - 8px);
        max-width: none;
    }

    .owl-nav .owl-prev, .owl-nav .owl-next {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .section-title {
        font-size: 1.5rem; /* Ukuran font lebih kecil untuk layar kecil */
    }

    .more-link {
        font-size: 0.9rem; /* Ukuran font tautan lebih kecil */
    }

    .image-card .image-text {
        font-size: 0.9rem;
    }
    .footer-selling-dec {
        font-size: 0.6875rem;
    }
    .footer-icon {
        width: 30px;
        height: 30px;
        font-size: 14px;
        margin-right: 8px;
    }
    .social-icons a {
        font-size: 16px;
    }

    .headline {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .description {
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    .img-custom-size {
        height: 160px;
    }

}

@media (max-width: 576px) {
    .image-card .image-text {
        font-size: 0.6rem;
    }
    .card-box {
        padding: 0.25rem;
    }

    .card-text h4 {
        font-size: 0.875rem;
    }

    .owl-nav .owl-prev, .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .owl-nav {
        padding: 0 10px; /* Kurangi padding untuk layar kecil */
    }


    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .headline {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .description {
        font-size: 0.85rem;
        line-height: 1rem;
    }

    .img-custom-size {
        height: 150px;
    }

}

@media (max-width: 320){
    .wrapper .carousel {
        grid-template-columns: calc((100% /2));
    }

}
